h1 {
    margin: 40px;
}

.topping {
    display: flex;
}

.topping-body {
    display: flex;

}

.img-topping {
    margin-left: 20px;
    width: 600px;
    height: 700px;
    border: 2px solid grey;
    border-radius: 10px;
    box-shadow: 3px 3px 8px darkgray;
}

.topping-list {
    width: 200px;
    border: 2px solid grey;
    border-radius: 10px;
    padding: 10px;
    font-size: large;
    margin-left: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    box-shadow: 3px 3px 8px darkgray;
    background-color: rgba(0, 255, 255, 0.132);

    label {
        cursor: pointer;

    }
}

.link-home {
    border: none;
    background-color: transparent;
    font-size: 1.5rem;
    color: var(--secondary-color);
    cursor: pointer;
    margin: 0 0 20px 220px;
    text-decoration: none;
    font-weight: 700;
}

.link-home:hover {
    text-shadow: 1px 1px 2px gray;
}

.order-topping {
    display: flex;
    flex-direction: column;
    margin-left: 60px;
}

h3 {

    color: var(--secondary-color);
    font-size: 1.5rem;
    margin: 0;
}

span {
    color: var(--secondary-color);
    font-weight: 700;
    font-size: 15px;
}

button {
    width: 20rem;
    background: none;
    border-color: var(--secondary-color);
    border-radius: 10px;
    padding: 0.5rem 1.5rem;
    color: var(--secondary-color);
    font-size: 1.75rem;
    cursor: pointer;
}

button:hover {
    background: var(--secondary-color);
    color: var(--primary-color);
    transform: scale(1.03);
    transition: 200ms;
}

.buttons-topping {
    display: flex;
    flex-direction: column;
    align-items: start;
}

#contact-btn {
    color: var(--secondary-color);
    text-decoration: none;
    margin-top: 20px;
    width: 20rem;
    background: none;
    border: 2px solid var(--secondary-color);
    border-radius: 10px;
    padding: 0.5rem 1.5rem;
    color: var(--secondary-color);
    font-size: 1.75rem;
    cursor: pointer;
    text-align: center;
}

#contact-btn:hover {
    background: var(--secondary-color);
    color: var(--primary-color);
    transform: scale(1.03);
    transition: 200ms;
}

@media screen and (max-width:1500px) {
    .img-topping {
        margin-left: 20px;
        width: 400px;
        height: 500px;
        border: 2px solid grey;
        border-radius: 10px;
        box-shadow: 3px 3px 8px darkgray;
    }

    .link-home {
        margin-left: 120px;
    }
}

@media screen and (max-width:1150px) {

    .topping {
        display: flex;
        flex-direction: column;
    }

    .order-topping {
        margin-top: 50px;
    }

}

@media screen and (max-width:750px) {
    .img-topping {
        margin-left: 10px;
        width: 290px;
        height: 430px;
        border: 2px solid grey;
        border-radius: 10px;
        box-shadow: 3px 3px 8px darkgray;
    }

    .topping-list {
        width: 200px;
        border: 2px solid grey;
        border-radius: 10px;
        padding: 10px;
        font-size: medium;
        margin-left: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        box-shadow: 3px 3px 8px darkgray;
        background-color: rgba(0, 255, 255, 0.132);


        label {
            cursor: pointer;

        }
    }

    .link-home {
        margin-left: 60px;
    }
}