<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pizza Menu</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="pizza.css" />
  </head>
  <body>
   <nav class="navbar-sticky">
    <div class="container">
      <div class="row ">
        
        <div class="col-6 py-3">
         
          
          <spam class="h1 h1-navbar"><a href="#">BlueViking</a> </spam>
        </div>
        <div class="col-6 d-flex justify-content-end navbar-contact text-center py-2">
          <div class="col"><span> <a href="" class="navbar-contact-button">contact</a></span></div>
          <div class="col"><p>non-stop</p></div>
          <div class="col navbar-contact-phone"><p>Tel  12345678</p></div>
          
          
        </div>
        <div class="col d-flex navbar-menu px-2 ">
          <div class="col"><a href="#pizza" class="navbar-menu-indiv"> pizza</a> </div>
          <div class="col"><a href="" class="navbar-menu-indiv"> pagrano</a> </div>
          <div class="col"><a href="" class="navbar-menu-indiv"> salate</a> </div>
          <div class="col"><a href="" class="navbar-menu-indiv"> desert</a> </div>
          <div class="col"><a href="" class="navbar-menu-indiv"> bauturi</a> </div>
        </div>
      </div>
    </div>
    <hr class="horizontal">
  </nav>
   <!-- ////////carousel//////// -->

   <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="1.webp" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="2.webp" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="3.webp" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="4.webp" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="5.webp" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="6.webp" class="d-block w-100" alt="...">
      </div>
    </div>
  </div>
  <section class="menu">
    <div class="">
     <h1 class="h1 h1-pizza text-center"><a href="#pizza" id="pizza">pizza</a> </h1>
      <div class="row pizza d-flex justify-content-center">
       <div class="col-12 col-lg-5 pizza-img-description">
         <div class="row">
           <div class="col-6 pizza-img"><img class="img-fluid" src="pizza-margherita.webp" alt=""></div>
           <div class="col-6 pizza-description">
            <div class=""><span class="badge bg-primary card-product-number p-0 "> 1</span>
            </div>
           <h4 class="h4 h4-pizza">pizza margherita (360g)</h4>
           <p>aluat (200g)( <b>gluten,lapte,ou</b>), sos de rosii (80g)(<b>usturoi</b> ), mozzarella (120g)(<b>lapte</b> )</p>
           <h4 class="h4 h4-pizza">Pret</h4>
           <p class="pret">Ridicare:30<sup>90</sup>  lei  Livrare 32<sup>40</sup>  lei</p>
          </div>
         </div>
        <button class="col-12 btn-order">comanda</button>
      </div>
<!-- //////////////////////////pizza///////////////// -->
      <div class="col-12 col-lg-5 pizza-img-description">
        <div class="row">
          <div class="col-6 pizza-img"><img class="img-fluid" src="pizza-funghi.webp" alt=""></div>
          <div class="col-6 pizza-description">
           <div class=""><span class="badge bg-primary card-product-number p-0 ">2</span>
           </div>
          <h4 class="h4 h4-pizza">pizza funghi (350g)</h4>
          <p>aluat (200g)(<b>gluten,lapte,ou</b> ), sos de rosii (80g)(<b>usturoi</b> ), mozzarella (80g)(<b>lapte</b> ),ciuperci champignon(70g)</p>
          <h4 class="h4 h4-pizza">Pret</h4>
          <p class="pret">Ridicare:30<sup>90</sup>  lei  Livrare 32<sup>40</sup>  lei</p>
         </div>
        </div>
       <button class="col-12 btn-order">comanda</button>
     </div>
      <!-- ////////////////////////////////////////end pizza/////////////////////////// -->
      
      <div class="col-12 col-lg-5 pizza-img-description">
        <div class="row">
          <div class="col-6 pizza-img"><img class="img-fluid" src="pizza-prosciutto.webp" alt=""></div>
          <div class="col-6 pizza-description">
           <div class=""><span class="badge bg-primary card-product-number p-0 ">3</span>
           </div>
          <h4 class="h4 h4-pizza">pizza prosciutto (350g)</h4>
          <p>aluat (200g)(<b>gluten,lapte,ou</b> ), sos de rosii (80g)(<b>usturoi</b> ), mozzarella (80g)(<b>lapte</b> ),sunca Praga(80g)</p>
          <h4 class="h4 h4-pizza">Pret</h4>
          <p class="pret">Ridicare:31<sup>90</sup>  lei  Livrare 33<sup>40</sup>  lei</p>
         </div>
        </div>
       <button class="col-12 btn-order">comanda</button>
     </div>
     <div class="col-12 col-lg-5 pizza-img-description">
      <div class="row">
        <div class="col-6 pizza-img"><img class="img-fluid" src="pizza-prosciutto-funghi.webp" alt=""></div>
        <div class="col-6 pizza-description">
         <div class=""><span class="badge bg-primary card-product-number p-0 ">4</span>
         </div>
        <h4 class="h4 h4-pizza">pizza prosciutto funghi (380g)</h4>
        <p>aluat (200g)(<b>gluten,lapte,ou</b> ), sos de rosii (80g)(<b>usturoi</b> ), mozzarella (80g)(<b>lapte</b> ), sunca Praga(80g), ciuperci champignon(70g)</p>
        <h4 class="h4 h4-pizza">Pret</h4>
        <p class="pret">Ridicare:31<sup>40</sup>  lei  Livrare 32<sup>90</sup>  lei</p>
       </div>
      </div>
     <button class="col-12 btn-order">comanda</button>
   </div>
     <div class="col-12 col-lg-5 pizza-img-description">
      <div class="row">
        <div class="col-6 pizza-img"><img class="img-fluid" src="pizza-tris.webp" alt=""></div>
        <div class="col-6 pizza-description">
         <div class=""><span class="badge bg-primary card-product-number p-0 ">5</span>
         </div>
        <h4 class="h4 h4-pizza">pizza tris (380g)</h4>
        <p>aluat (200g)(<b>gluten,lapte,ou</b> ),  sos de rosii (80g)(<b>usturoi</b> ), mozzarella (80g)(<b>lapte</b> ), salam (20g), sunca de Praga(40g), ciuperci champignon(40g)</p>
        <h4 class="h4 h4-pizza">Pret</h4>
        <p class="pret">Ridicare:32<sup>40</sup>  lei  Livrare 33<sup>90</sup>  lei</p>
       </div>
      </div>
     <button class="col-12 btn-order">comanda</button>
   </div>
   <div class="col-12 col-lg-5 pizza-img-description">
    <div class="row">
      <div class="col-6 pizza-img"><img class="img-fluid" src="pizza-al-pacino.webp" alt=""></div>
      <div class="col-6 pizza-description">
       <div class=""><span class="badge bg-primary card-product-number p-0 ">6</span>
       </div>
      <h4 class="h4 h4-pizza">pizza al pacino (410g)</h4>
      <p>aluat (200g)(<b>gluten,lapte,ou</b> ), sos de rosii (80g)(<b>usturoi</b> ), mozzarella (80g)(<b>lapte</b> ), salam (20g), sunca Praga (40g), costita(20g), ceapa rosie(20g), ardei gras(20g)</p>
      <h4 class="h4 h4-pizza">Pret</h4>
      <p class="pret">Ridicare:31<sup>90</sup>  lei  Livrare 33<sup>40</sup>  lei</p>
     </div>
    </div>
   <button class="col-12 btn-order">comanda</button>
 </div> <div class="col-12 col-lg-5 pizza-img-description">
  <div class="row">
    <div class="col-6 pizza-img"><img class="img-fluid" src="pizza-quattro-stagioni.webp" alt=""></div>
    <div class="col-6 pizza-description">
     <div class=""><span class="badge bg-primary card-product-number p-0 ">7</span>
     </div>
    <h4 class="h4 h4-pizza">pizza quattro stagioni (420g)</h4>
    <p>aluat (200g)(<b>gluten,lapte,ou</b> ), sos de rosii (80g)(<b>usturoi</b> ), mozzarella (80g)(<b>lapte</b> ), sunca Praga(40g),ciuperci champignon(40g), porumb dulce (40g), masline verzi(10g)</p>
    <h4 class="h4 h4-pizza">Pret</h4>
    <p class="pret">Ridicare:32<sup>90</sup>  lei  Livrare 34<sup>90</sup>  lei</p>
   </div>
  </div>
 <button class="col-12 btn-order">comanda</button>
</div> <div class="col-12 col-lg-5 pizza-img-description">
  <div class="row">
    <div class="col-6 pizza-img"><img class="img-fluid" src="pizza-calzone-rulat.webp" alt=""></div>
    <div class="col-6 pizza-description">
     <div class=""><span class="badge bg-primary card-product-number p-0 ">8</span>
     </div>
    <h4 class="h4 h4-pizza">pizza calzone rulat (410g)</h4>
    <p>aluat (200g)(<b>gluten,lapte,ou</b> ), sos de rosii (80g)(<b>usturoi</b> ), mozzarella (80g)(<b>lapte</b> ), sunca Praga(40g), ciuperci champignon(20g), ardei gras(15g), masline negre(15g), masline verzi(10g), mujdei de usturoi(10g)</p>
    <h4 class="h4 h4-pizza">Pret</h4>
    <p class="pret">Ridicare:32<sup>40</sup>  lei  Livrare 33<sup>90</sup>  lei</p>
   </div>
  </div>
 <button class="col-12 btn-order">comanda</button>
</div> <div class="col-12 col-lg-5 pizza-img-description">
  <div class="row">
    <div class="col-6 pizza-img"><img class="img-fluid" src="pizza-fiore.webp" alt=""></div>
    <div class="col-6 pizza-description">
     <div class=""><span class="badge bg-primary card-product-number p-0 ">9</span>
     </div>
    <h4 class="h4 h4-pizza">pizza fiore (510g)</h4>
    <p>aluat (200g)(<b>gluten,lapte,ou</b> ), sos de rosii (80g)(<b>usturoi</b> ), mozzarella (80g)(<b>lapte</b> ), samlam(20g),un ou fiert feliat(60g), mazare(20g),sunca Praga(40g), ciuperci champignon(20g), carnati(15g), rosii(30g), masline negre(15g), masline verzi(15g) </p>
    <h4 class="h4 h4-pizza">Pret</h4>
    <p class="pret">Ridicare:33<sup>90</sup>  lei  Livrare 34<sup>40</sup>  lei</p>
   </div>
  </div>
 <button class="col-12 btn-order">comanda</button>
</div> <div class="col-12 col-lg-5 pizza-img-description">
  <div class="row">
    <div class="col-6 pizza-img"><img class="img-fluid" src="pizza-vegetariana.webp" alt=""></div>
    <div class="col-6 pizza-description">
     <div class=""><span class="badge bg-primary card-product-number p-0 ">10</span>
     </div>
    <h4 class="h4 h4-pizza">pizza vegetariana (520g)</h4>
    <p>aluat (200g)(<b>gluten,lapte,ou</b> ), sos de rosii (80g)(<b>usturoi</b> ), mozzarella (80g)(<b>lapte</b> ),ciuperci champignon(40g), ardei gras(15g), rosii(40g), mazare(20g), telemea(50g), anghinare marinata(30g), masline negre(30g), masline verzi(15g) </p>
    <h4 class="h4 h4-pizza">Pret</h4>
    <p class="pret">Ridicare:34<sup>90</sup>  lei  Livrare 36<sup>40</sup>  lei</p>
   </div>
  </div>
 <button class="col-12 btn-order">comanda</button>
</div> <div class="col-12 col-lg-5 pizza-img-description">
  <div class="row">
    <div class="col-6 pizza-img"><img class="img-fluid" src="pizza-teddy.webp" alt=""></div>
    <div class="col-6 pizza-description">
     <div class=""><span class="badge bg-primary card-product-number p-0 ">11</span>
     </div>
    <h4 class="h4 h4-pizza">pizza teddy (490g)</h4>
    <p>aluat (200g)(<b>gluten,lapte,ou</b> ), sos de rosii (80g)(<b>usturoi</b> ), mozzarella (80g)(<b>lapte</b> ), salam(20g), sunca Praga(40g),carnati(15g), costita(15g), ceapan rosie(20g), ardei gras(15g), un ou(60g), masline negre(15g), masline verzi(15g), ciuperci champignon(40g)</p>
    <h4 class="h4 h4-pizza">Pret</h4>
    <p class="pret">Ridicare:34<sup>40</sup>  lei  Livrare 35<sup>90</sup>  lei</p>
   </div>
  </div>
 <button class="col-12 btn-order">comanda</button>
</div> <div class="col-12 col-lg-5 pizza-img-description">
  <div class="row">
    <div class="col-6 pizza-img"><img class="img-fluid" src="pizza-vulcano.webp" alt=""></div>
    <div class="col-6 pizza-description">
     <div class=""><span class="badge bg-primary card-product-number p-0 ">12</span>
     </div>
    <h4 class="h4 h4-pizza">pizza vulcano (425g)</h4>
    <p>aluat (200g)(<b>gluten,lapte,ou</b> ), sos de rosii (80g)(<b>usturoi</b> ), mozzarella (80g)(<b>lapte</b> ), salam(20g), sunca Praga(40g), carnati(15g), costita(15g), ardei gras(20g), pasta ardei iute(20g), sos tabasco(15g)</p>
    <h4 class="h4 h4-pizza">Pret</h4>
    <p class="pret">Ridicare:33<sup>90</sup>  lei  Livrare 35<sup>40</sup>  lei</p>
   </div>
  </div>
 <button class="col-12 btn-order">comanda</button>
</div> <div class="col-12 col-lg-5 pizza-img-description">
  <div class="row">
    <div class="col-6 pizza-img"><img class="img-fluid" src="pizza-hawaii.webp" alt=""></div>
    <div class="col-6 pizza-description">
     <div class=""><span class="badge bg-primary card-product-number p-0 ">13</span>
     </div>
    <h4 class="h4 h4-pizza">pizza hawaii (490g)</h4>
    <p>aluat (200g)(<b>gluten,lapte,ou</b> ), sos de rosii (80g)(<b>usturoi</b> ), mozzarella (80g)(<b>lapte</b> ), sunca Praga(50g), ananas(90g), piersici(60g) </p>
    <h4 class="h4 h4-pizza">Pret</h4>
    <p class="pret">Ridicare:35<sup>40</sup>  lei  Livrare 36<sup>90</sup>  lei</p>
   </div>
  </div>
 <button class="col-12 btn-order">comanda</button>
</div> <div class="col-12 col-lg-5 pizza-img-description">
  <div class="row">
    <div class="col-6 pizza-img"><img class="img-fluid" src="pizza-pollo.webp" alt=""></div>
    <div class="col-6 pizza-description">
     <div class=""><span class="badge bg-primary card-product-number p-0 ">14</span>
     </div>
    <h4 class="h4 h4-pizza">pizza pollo (380g)</h4>
    <p>aluat (200g)(<b>gluten,lapte,ou</b> ), smantana dulce(40g), mozzarella (100g)(<b>lapte</b> ), rosii(40g), piept de pui(80g), sos indian(80g)</p>
    <h4 class="h4 h4-pizza">Pret</h4>
    <p class="pret">Ridicare:34<sup>90</sup>  lei  Livrare 36<sup>40</sup>  lei</p>
   </div>
  </div>
 <button class="col-12 btn-order">comanda</button>
</div> <div class="col-12 col-lg-5 pizza-img-description">
  <div class="row">
    <div class="col-6 pizza-img"><img class="img-fluid" src="pizza-bubu.webp" alt=""></div>
    <div class="col-6 pizza-description">
     <div class=""><span class="badge bg-primary card-product-number p-0 ">15</span>
     </div>
    <h4 class="h4 h4-pizza">pizza babu (410g)</h4>
    <p>aluat (200g)(<b>gluten,lapte,ou</b> ), sos de rosii (80g)(<b>usturoi</b> ), mozzarella (80g)(<b>lapte</b> ), carne de vita(100g),lamaie(20g)</p>
    <h4 class="h4 h4-pizza">Pret</h4>
    <p class="pret">Ridicare:36<sup>40</sup>  lei  Livrare 37<sup>90</sup>  lei</p>
   </div>
  </div>
 <button class="col-12 btn-order">comanda</button>
</div>
<div class="col-12 col-lg-5 pizza-img-description">
  <div class="row">
    <div class="col-6 pizza-img"><img class="img-fluid" src="pizza-tonno.webp" alt=""></div>
    <div class="col-6 pizza-description">
     <div class=""><span class="badge bg-primary card-product-number p-0 ">16</span>
     </div>
    <h4 class="h4 h4-pizza">pizza tonno (490g)</h4>
    <p>aluat (200g)(<b>gluten,lapte,ou</b> ), sos de rosii (80g)(<b>usturoi</b> ), mozzarella (80g)(<b>lapte</b> ), ton(100g)(<b>peste</b>), ceapa rosie(10g), lamaie(20g) </p>
    <h4 class="h4 h4-pizza">Pret</h4>
    <p class="pret">Ridicare:34<sup>40</sup>  lei  Livrare 35<sup>90</sup>  lei</p>
   </div>
  </div>
 <button class="col-12 btn-order">comanda</button>
</div>
<div class="col-12 col-lg-5 pizza-img-description">
  <div class="row">
    <div class="col-6 pizza-img"><img class="img-fluid" src="pizza-capriciosa.webp" alt=""></div>
    <div class="col-6 pizza-description">
     <div class=""><span class="badge bg-primary card-product-number p-0 ">17</span>
     </div>
    <h4 class="h4 h4-pizza">pizza capriciosa (450g)</h4>
    <p>aluat (200g)(<b>gluten,lapte,ou</b> ), sos de rosii (80g)(<b>usturoi</b> ), mozzarella (80g)(<b>lapte</b> ), sunca Praga(40g), ciuperci champignon(40g), sardine(45g), capere(10g, masline negre(30g), masline verzi(15g) ) </p>
    <h4 class="h4 h4-pizza">Pret</h4>
    <p class="pret">Ridicare:35<sup>90</sup>  lei  Livrare 37<sup>40</sup>  lei</p>
   </div>
  </div>
 <button class="col-12 btn-order">comanda</button>
</div><div class="col-12 col-lg-5 pizza-img-description">
  <div class="row">
    <div class="col-6 pizza-img"><img class="img-fluid" src="pizza-san-marino.webp" alt=""></div>
    <div class="col-6 pizza-description">
     <div class=""><span class="badge bg-primary card-product-number p-0 ">18</span>
     </div>
    <h4 class="h4 h4-pizza">pizza san marino (420g)</h4>
    <p>aluat (200g)(<b>gluten,lapte,ou</b> ), sos de rosii (80g)(<b>usturoi</b> ), mozzarella (80g)(<b>lapte</b> ), fructe de mare(100g)( <b>crustacee si produse derivate</b>  ), lamaie(20g) </p>
    <h4 class="h4 h4-pizza">Pret</h4>
    <p class="pret">Ridicare:34<sup>90</sup>  lei  Livrare 36<sup>40</sup>  lei</p>
   </div>
  </div>
 <button class="col-12 btn-order">comanda</button>
</div><div class="col-12 col-lg-5 pizza-img-description">
  <div class="row">
    <div class="col-6 pizza-img"><img class="img-fluid" src="pizza-quattro-formaggi.webp" alt=""></div>
    <div class="col-6 pizza-description">
     <div class=""><span class="badge bg-primary card-product-number p-0 ">19</span>
     </div>
    <h4 class="h4 h4-pizza">pizza quattro formaggi (420g)</h4>
    <p>aluat (200g)(<b>gluten,lapte,ou</b> ), sos de rosii (80g)(<b>usturoi</b> ), mozzarella (80g)(<b>lapte</b> ), cascaval(40g), parmesan(40g), gorgonzola(20g)</p>
    <h4 class="h4 h4-pizza">Pret</h4>
    <p class="pret">Ridicare:35<sup>40</sup>  lei  Livrare 36<sup>90</sup>  lei</p>
   </div>
  </div>
 <button class="col-12 btn-order">comanda</button>
</div><div class="col-12 col-lg-5 pizza-img-description">
  <div class="row">
    <div class="col-6 pizza-img"><img class="img-fluid" src="pizza-blue-viking.webp" alt=""></div>
    <div class="col-6 pizza-description">
     <div class=""><span class="badge bg-primary card-product-number p-0 ">20</span>
     </div>
    <h4 class="h4 h4-pizza">pizza blue viking (380g)</h4>
    <p>aluat (200g)(<b>gluten,lapte,ou</b> ), sos de rosii (80g)(<b>usturoi</b> ), mozzarella (80g)(<b>lapte</b> ), sunca(40g), ardei gras(20g), ciuperci champignon(25g), ton(40g), rosii(30g), telemea(40g), masline negre(15g), masline verzi(15g) </p>
    <h4 class="h4 h4-pizza">Pret</h4>
    <p class="pret">Ridicare:35<sup>40</sup>  lei  Livrare 36<sup>90</sup>  lei</p>
   </div>
  </div>
 <button class="col-12 btn-order">comanda</button>
</div><div class="col-12 col-lg-5 pizza-img-description">
  <div class="row">
    <div class="col-6 pizza-img"><img class="img-fluid" src="pizza-party.webp" alt=""></div>
    <div class="col-6 pizza-description">
     <div class=""><span class="badge bg-primary card-product-number p-0 ">21</span>
     </div>
    <h4 class="h4 h4-pizza">pizza party (3260g)</h4>
    <p>aluat (200g)(<b>gluten,lapte,ou</b> ), sos de rosii (80g)(<b>usturoi</b> ), mozzarella (80g)(<b>lapte</b> ), salam(80g), sunca Praga(200g), ciuperci champignon(150g), carnati(60g), ardei gras(100g), porumb dulce(100g), telemea(140g) </p>
    <h4 class="h4 h4-pizza">Pret</h4>
    <p class="pret">Ridicare:124<sup>40</sup>  lei  Livrare 127<sup>90</sup>  lei</p>
   </div>
  </div>
 <button class="col-12 btn-order">comanda</button>
</div><div class="col-12 col-lg-5 pizza-img-description">
  <div class="row">
    <div class="col-6 pizza-img"><img class="img-fluid" src="pizza-san-daniele.webp" alt=""></div>
    <div class="col-6 pizza-description">
     <div class=""><span class="badge bg-primary card-product-number p-0 ">22</span>
     </div>
    <h4 class="h4 h4-pizza">pizza san daniele (350g)</h4>
    <p>aluat (200g)(<b>gluten,lapte,ou</b> ), smantana dulce(40g)( <b>lapte</b> ), mozzarella (100g)(<b>lapte</b> ), prosciutto crudo(50g)</p>
    <h4 class="h4 h4-pizza">Pret</h4>
    <p class="pret">Ridicare:35<sup>40</sup>  lei  Livrare 36<sup>90</sup>  lei</p>
   </div>
  </div>
 <button class="col-12 btn-order">comanda</button>
</div><div class="col-12 col-lg-5 pizza-img-description">
  <div class="row">
    <div class="col-6 pizza-img"><img class="img-fluid" src="pizza-provinciale.webp" alt=""></div>
    <div class="col-6 pizza-description">
     <div class=""><span class="badge bg-primary card-product-number p-0 ">23</span>
     </div>
    <h4 class="h4 h4-pizza">pizza provinciale (480g)</h4>
    <p>aluat (200g)(<b>gluten,lapte,ou</b> ), sos de rosii (80g)(<b>usturoi</b> ), mozzarella (80g)(<b>lapte</b> ), ciuperci champignon(20g), piept de pui(40g), ardei gras(20g), porumb dulce(20g), sos indian(80g), rosii(40g) </p>
    <h4 class="h4 h4-pizza">Pret</h4>
    <p class="pret">Ridicare:34<sup>40</sup>  lei  Livrare 35<sup>90</sup>  lei</p>
   </div>
  </div>
 <button class="col-12 btn-order">comanda</button>
</div><div class="col-12 col-lg-5 pizza-img-description">
  <div class="row">
    <div class="col-6 pizza-img"><img class="img-fluid" src="pizza-omleta.webp" alt=""></div>
    <div class="col-6 pizza-description">
     <div class=""><span class="badge bg-primary card-product-number p-0 ">24</span>
     </div>
    <h4 class="h4 h4-pizza">pizza omleta (480g)</h4>
    <p>aluat (200g)(<b>gluten,lapte,ou</b> ), sos de rosii (80g)(<b>usturoi</b> ), mozzarella (80g)(<b>lapte</b> ), sunca Praga(30g), ciuperci champignon(20g), carnati(15g), ardei gras(20g), 2 oua (omleta)</p>
    <h4 class="h4 h4-pizza">Pret</h4>
    <p class="pret">Ridicare:33<sup>40</sup>  lei  Livrare 34<sup>90</sup>  lei</p>
   </div>
  </div>
 <button class="col-12 btn-order">comanda</button>
</div><div class="col-12 col-lg-5 pizza-img-description">
  <div class="row">
    <div class="col-6 pizza-img"><img class="img-fluid" src="pizza-prosciutto-funghi.webp" alt=""></div>
    <div class="col-6 pizza-description">
     <div class=""><span class="badge bg-primary card-product-number p-0 ">4</span>
     </div>
    <h4 class="h4 h4-pizza">pizza prosciutto funghi (380g)</h4>
    <p>aluat (200g)(<b>gluten,lapte,ou</b> ), sos de rosii (80g)(<b>usturoi</b> ), mozzarella (80g)(<b>lapte</b> ), sunca Praga(80g), ciuperci champignon(70g)</p>
    <h4 class="h4 h4-pizza">Pret</h4>
    <p class="pret">Ridicare:31<sup>40</sup>  lei  Livrare 32<sup>90</sup>  lei</p>
   </div>
  </div>
 <button class="col-12 btn-order">comanda</button>
</div><div class="col-12 col-lg-5 pizza-img-description">
  <div class="row">
    <div class="col-6 pizza-img"><img class="img-fluid" src="pizza-prosciutto-funghi.webp" alt=""></div>
    <div class="col-6 pizza-description">
     <div class=""><span class="badge bg-primary card-product-number p-0 ">4</span>
     </div>
    <h4 class="h4 h4-pizza">pizza prosciutto funghi (380g)</h4>
    <p>aluat (200g)(<b>gluten,lapte,ou</b> ), sos de rosii (80g)(<b>usturoi</b> ), mozzarella (80g)(<b>lapte</b> ), sunca Praga(80g), ciuperci champignon(70g)</p>
    <h4 class="h4 h4-pizza">Pret</h4>
    <p class="pret">Ridicare:31<sup>40</sup>  lei  Livrare 32<sup>90</sup>  lei</p>
   </div>
  </div>
 <button class="col-12 btn-order">comanda</button>
</div>

    </div>
   </div>
   
  </section>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
  </body>
</html>
